.html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.body__form {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}