@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body {
  background-image: radial-gradient(circle, #ed0e8d, #d6159c, #b924a9, #9830b3, #6f3ab9, #5951c9, #3c63d6, #0074df, #0096f1, #00b4f2, #00cfe8, #0de7d9);
  color: #333;
}

.about {
  grid-area: about;
  &__header {
    color: #232627;
  }
  &__paragraph {
    border: 3px double #1A936F;
    padding: 16px;
  }
}

.article {
  background-color: #1A936F;
  &__img {
    image-resolution: 120px 120px;
  }
  &__header {
    color: darkslateblue;
  }
  &__paragraph {
    border: 4px dotted #333;
    color: darkmagenta;
    padding: 16px;
  }
}

.content {
  grid-area: content;
}

.diary{
  &__header {
    color: #d81717;
  }
}

.footer{
  grid-area: footer;
}

.header {
  grid-area: header;
  &__button{
    grid-area: button;
  }
  &__title {
    background-color: #87c0cd;
    color: #1d2bac;
    text-align: center;
    &--red {
      color: darkred;
    }
  }
}

.href {
  text-align: center;
  color: aliceblue;
}

.input {
  width: 220px;
}

.main {
  display: grid;
  grid-template-areas: "header header"
  "button button"
  "grid content"
  "footer footer";
  grid-template-columns: 200px 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 32px auto;
  width: 100%;
  &__form {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

@media (max-width: 640px) {
  .main {
      grid-template-areas: "header"
      "button"
      "about"
      "content"
      "footer";
      grid-template-columns: 1fr;
  }
}

.navigation {
  background-color: chartreuse;
  text-align: center;
  &__item {
    display: block;
    margin: 0 16px;
  }
  &__link {
    color: #1A936F;
  }
  &__list {
    /* align-items: center; */
    display: flex;
    /* height: 60px; */
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  @media (max-width: 400px) {
    .navigation__list {
        flex-direction: column;
        display: none;
    }
    .navigation__item {
        margin: 16px;
    }
    .navigation__list--visible {
        display: flex;
    }
    .navigation__switcher {
        border: none;
        background: none;
    }
  }
  @media (min-width: 401px) {
    .navigation__switcher {
        display: none;
    }
  }
}

.site__header {
  background: #fff;
  box-sizing: border-box;
  left: 0;
  padding: 16px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
}